@media only screen and (max-width: 1299px) {
    .promo-slider-nav {
        &.swiper-container {
            overflow: hidden;
        }
    }

    .promo-button-prev {
        left: 0;
    }

    .promo-button-next {
        right: 0;
    }
}

@media only screen and (max-width: 1279px) {
    .hide-1280 {
        display: none!important;
    }

    .card-list-col  {
        max-width: 33.33%;
    }

    .js .card-list-col {
        &:nth-child(4n + 1) .card.is-visible {
            transition-delay: 0.1s;
        }

        &:nth-child(4n + 2) .card.is-visible {
            transition-delay: 0.2s;
        }

        &:nth-child(4n + 3) .card.is-visible {
            transition-delay: 0.3s;
        }

        &:nth-child(4n + 4) .card.is-visible {
            transition-delay: 0.1s;
        }
    }

    .card-list-col-5 {
        max-width: 25%;
    }

    .header-aside:last-child {
        display: none;
    }

    .header-menu-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;

        > li {
            display: flex;
            flex: 1 1 calc(100% / 4);
            max-width: calc(100% / 4);

            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                  flex: 1 1 calc(100% / 4);
                  max-width: calc(100% / 4);
                  border-right: 1px solid rgba(#fff, 0.35);
                }
            }
        }
    }

    .index-page-header-img {
        transition: margin 0.75s ease-out;
        margin-left: 200px;
    }

    .promo-slider {
        .promo-slide-title {
            font-size: 5.63vw;
        }
    }

    .footmenu-col {
        max-width: 33.33%;
    }

}

@media only screen and (min-width: 1024px) {
    .show-1024 {
        display: block!important;
    }
}

@media only screen and (max-width: 1023px), (max-device-width: 1024px) and (orientation: landscape) {
    .hide-1024 {
        display: none!important;
    }

    .header-title {
        font-size: 9vw;
        padding-top: 75px;
        padding-bottom: 50px;
    }

    h2 {
        font-size: 7vw;
    }

    h3 {
        font-size: 3.5vw;
    }

    .card-list-col  {
        max-width: 50%;
    }

    .js .card-list-col {
        &:nth-child(4n + 1) .card.is-visible {
            transition-delay: 0.1s;
        }

        &:nth-child(4n + 2) .card.is-visible {
            transition-delay: 0.2s;
        }

        &:nth-child(4n + 3) .card.is-visible {
            transition-delay: 0.1s;
        }

        &:nth-child(4n + 4) .card.is-visible {
            transition-delay: 0.2s;
        }
    }

    .afisha-main {
        flex: 2;
    }

    .afisha-aside {
        flex: 1;
    }

    .backnav {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .sidemenu {
        padding: 15px 25px;
        width: 240px;

        > li {
            > a {
                font-size: 18px;
            }
        }
    }

    .l-section .wrap {
        padding-left: 300px;
    }

    .l-section section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .gcol {
        max-width: 33.33%;

        .gallery-item-img:before {
            padding-top: 100%;
        }
    }
}

@media only screen and (min-width: 768px) {
    .show-768 {
        display: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .hide-768 {
        display: none !important;
    }

    .l-aside {
        display: none;
    }

    .l-aside-mobile {
        display: block;
    }

    .l-section .wrap {
        padding-left: 20px;
        padding-right: 20px;
    }

    .card-list-col  {
        max-width: 50%;
    }

    .afisha-row {
        flex-direction: column;
    }

    .afisha-main {
        flex: 1;
    }

    .afisha-aside {
        flex: 1;
    }

    .pub-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left:  0;
        margin-right: 0;
    }

    .pub-col {
        flex: 1 1 50%;
        max-width: 50%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .header-slider-aside {
        display: none;
    }

    .header-slider-main {
        margin-right: 0;
    }

    .promo-slider {
        // display: none;
        .promo-slide-title {
            font-size: 7vw;
        }

        .promo-slide-image {
            left: 80px;
            width: 320px;
            height: 450px;
            transform: translateY(0);
        }

        .promo-slide-details {
            padding-left: 300px;
        }
    }

    .footmenu {
        padding: 20px 40px;
    }

    .footmenu-col {
        max-width: 50%;
    }

    .index-page-footer {
        margin-top: 20px;
    }

    .afisha-main {
        padding-bottom: 20px;
    }

    .footer-row {
        flex-direction: column;
    }

    .footer-aside {
        margin-top: 0;
        flex: 1 1 auto;
    }

    .footer-aside-in {
        margin: 20px 40px;
        padding: 20px 0px 20px;
        border: 0;
    }

    .copy-row {
        flex-wrap: wrap;
    }

    .copy-col {
        flex: 1 1 50%;

        &:nth-child(2) {
            order: 1;
            flex: 1 1 100%;
            text-align: left;
        }
    }

    .gallery-slider {
        &.swiper-container {
            height: auto;
        }
    }
}

@media only screen and (min-width: 640px) {
    .show-640 {
        display: none !important;
    }
}

@media only screen and (max-width: 639px) {
    .hide-640 {
        display: none !important;
    }

    .card-list-col  {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .card-hasbg .card-in {
        min-height: 400px;
    }

    .header-aside {
        display: none;
    }

    .index-page-header-img {
        margin-left: 0;
    }

    .promo-slider {
        &.swiper-container {
            height: 480px;
        }

        .promo-slide-image {
            left: 20px;

            &:before {
                width: 80%;
            }
        }

        .promo-slide-details {
            padding-left: 33%;
            padding-bottom: 40px;
        }

        .promo-slide-title {
            font-size: 32px;
        }
    }

    .header-topline {
        display: none;
    }

    .header-main {
        display: none;
    }

    .header-topline-row {
        height: 50px;
    }

    .pub-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
    }

    .pub-col {
        flex: 1 1 100%;
        max-width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    h2 {
        font-size: 36px;
        word-break: break-word;
    }

    h3 {
        font-size: 32px;
    }

    .gcol {
        max-width: 50%;
    }
}

@media only screen and (max-width: 479px) {
    .hide-480 {
        display: none !important;
    }

    .pub-list {
        padding-bottom: 0;
    }

    .col-xxs-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .card-list-col  {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .js .card-list-col {
        &:nth-child(4n + 1) .card.is-visible {
            transition-delay: 0s;
        }

        &:nth-child(4n + 2) .card.is-visible {
            transition-delay: 0s;
        }

        &:nth-child(4n + 3) .card.is-visible {
            transition-delay: 0s;
        }

        &:nth-child(4n + 4) .card.is-visible {
            transition-delay: 0s;
        }
    }

    .card-hasbg .card-in {
        min-height: 400px;
    }

    .footmenu {
        padding: 20px 40px;
    }

    .footmenu-col {
        max-width: 100%;
    }

    .footer-aside-in {
        margin: 20px 40px;
        padding: 20px 0px 20px;
    }

    .copy-col {
        flex: 1 1 100%;

        &:nth-child(2) {
            order: 0;
        }

        &:nth-child(3) {
            padding-top: 20px;
            text-align: center;
        }
    }

    .promo-slider {
        .promo-slide-image {
            width: calc(100% - 40px);
            left: 20px;

            img {
                object-position: 50% 50%;
            }

            &:before {
                display: none;
            }
        }

        .promo-slide-details {
            padding: 0;
            padding: 20px;
            height: 100%;
            box-sizing: border-box;
            text-align: center;
            position: relative;
            @include linear-gradient(to bottom, rgba(#000, 0) 0%, rgba(#000, 0.7) 10%, rgba(#000, 0) 30%, rgba(#000, 0.1) 60%, rgba(#000, 0.2) 100%);
        }

        .promo-slide-title {
            font-size: 28px;
            max-width: none;
            padding-top: 10px;
            line-height: 1.25;
            text-shadow:
                0 1px 1px rgba(#000, 0.1),
                0 5px 5px rgba(#000, 0.1),
                0 10px 10px rgba(#000, 0.1),
                0 15px 15px rgba(#000, 0.1),
                0 20px 20px rgba(#000, 0.1);
        }

        .promo-slide-link {
            position: absolute;
            padding: 20px;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
            bottom: 20px;
            left: 0;

            .button {
                box-shadow: 0 0 0 2px rgba($gold, 0.25);
            }
        }
    }

    .promo-slider-nav-bounds {
        display: none;
    }

    .usercontent {
        blockquote {
            padding-top: 80px;
            padding-bottom: 30px;

            margin: 0;
            q {
                font-size: 26px;
            }
        }
    }

    .b-title {
        font-size: 30px;
        padding-right: 0;
        padding-bottom: 20px;
        margin-bottom: 20px;

        &:after {
            right: auto;
            left: 0;
            top: 100%;
        }
    }

    .band {
        padding-bottom: 80px;
    }

    .band-img {
        float: none;
        width: auto;
    }

    .band-title {
        font-size: 30px;
    }

    .gcol {
        max-width: 100%;
    }

    .afisha-filter {
        padding-right: 0;
    }
}