<div class="card-slider js-card-slider swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="#" class="card">
                <div class="card-in">
                    <div class="card-img">
                        <img data-src="./userimg/afisha-01.jpg" alt="" class="swiper-lazy">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="card-title">
                        Трагікамедыя "Трыбунал"
                    </div>
                    <div class="card-details">
                        <p>13 мая 2017 в 18:05</p>
                        <p>цена билета: от 20 до 35 руб.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#" class="card card-hasbg">
                <div class="card-bg">
                    <img data-src="./userimg/afisha-bg-01.jpg" alt="" class="swiper-lazy">
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="card-in">
                    <div class="card-title card-bg-title">
                        Трагікамедыя "Трыбунал"
                    </div>
                    <div class="card-details card-bg-details">
                        <p>13 мая 2017 в 18:05</p>
                        <p>цена билета: от 20 до 35 руб.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#" class="card">
                <div class="card-in">
                    <div class="card-img">
                        <img data-src="./userimg/afisha-02.jpg" alt="" class="swiper-lazy">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="card-title">
                        Шутовской рок-мюзикл "Страсти по Тилю"
                    </div>
                    <div class="card-details">
                        <p>13 мая 2017 в 18:05</p>
                        <p>цена билета: от 20 до 35 руб.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#" class="card">
                <div class="card-in">
                    <div class="card-img">
                        <img data-src="./userimg/afisha-03.jpg" alt="" class="swiper-lazy">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="card-title">
                        Трагікамедыя "Трыбунал" и Шутовской рок-мюзикл "Страсти по Тилю"
                    </div>
                    <div class="card-details">
                        <p>13 мая 2017 в 18:05</p>
                        <p>цена билета:  т 20 до 35 руб.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#" class="card">
                <div class="card-in">
                    <div class="card-img">
                        <img data-src="./userimg/afisha-04.jpg" alt="" class="swiper-lazy">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="card-title">
                        Трагікамедыя "Трыбунал"
                    </div>
                    <div class="card-details">
                        <p>13 мая 2017 в 18:05</p>
                        <p>цена билета: от 20 до 35 руб.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#" class="card">
                <div class="card-in">
                    <div class="card-img">
                        <img data-src="./userimg/afisha-05.jpg" alt="" class="swiper-lazy">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="card-title">
                        Трагікамедыя "12 стульев"
                    </div>
                    <div class="card-details">
                        <p>13 мая 2017 в 18:05</p>
                        <p>цена билета: от 20 до 35 руб.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#" class="card">
                <div class="card-in">
                    <div class="card-img">
                        <img data-src="./userimg/afisha-06.jpg" alt="" class="swiper-lazy">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="card-title">
                        Трагікамедыя "Трыбунал"
                    </div>
                    <div class="card-details">
                        <p>13 мая 2017 в 18:05</p>
                        <p>цена билета: от 20 до 35 руб.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#" class="card card-hasbg">
                <div class="card-bg">
                    <img data-src="./userimg/afisha-bg-02.jpg" alt="" class="swiper-lazy">
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="card-in">
                    <div class="card-title card-bg-title">
                        Трагікамедыя "Трыбунал"
                    </div>
                    <div class="card-details card-bg-details">
                        <p>13 мая 2017 в 18:05</p>
                        <p>цена билета: от 20 до 35 руб.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#" class="card">
                <div class="card-in">
                    <div class="card-img">
                        <img data-src="./userimg/afisha-07.jpg" alt="" class="swiper-lazy">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="card-title">
                        Трагікамедыя "Трыбунал"
                    </div>
                    <div class="card-details">
                        <p>13 мая 2017 в 18:05</p>
                        <p>цена билета: от 20 до 35 руб.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#" class="card">
                <div class="card-in">
                    <div class="card-img">
                        <img data-src="./userimg/afisha-04.jpg" alt="" class="swiper-lazy">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="card-title">
                        Трагікамедыя "Трыбунал"
                    </div>
                    <div class="card-details">
                        <p>13 мая 2017 в 18:05</p>
                        <p>цена билета: от 20 до 35 руб.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#" class="card">
                <div class="card-in">
                    <div class="card-img">
                        <img data-src="./userimg/afisha-05.jpg" alt="" class="swiper-lazy">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="card-title">
                        Трагікамедыя "12 стульев"
                    </div>
                    <div class="card-details">
                        <p>13 мая 2017 в 18:05</p>
                        <p>цена билета: от 20 до 35 руб.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#" class="card">
                <div class="card-in">
                    <div class="card-img">
                        <img data-src="./userimg/afisha-06.jpg" alt="" class="swiper-lazy">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="card-title">
                        Трагікамедыя "Трыбунал"
                    </div>
                    <div class="card-details">
                        <p>13 мая 2017 в 18:05</p>
                        <p>цена билета: от 20 до 35 руб.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="card-button-prev">
        <svg viewBox="0 0 9 15"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-left"></use></svg>
    </div>
    <div class="card-button-next">
        <svg viewBox="0 0 9 15"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-right"></use></svg>
    </div>
</div>
