<div class="l-footer @@footerClass">
    <div class="footer-wrap">
        <div class="footer-row">
            <div class="footer-main">
                <div class="footmenu">
                    <div class="footmenu-col">
                        <a href="#" class="footmenu-dir">Залы</a>
                        <ul class="footmenu-list">
                            <li><a href="#">Театральный зал</a></li>
                            <li><a href="#">Гобеленовый зал</a></li>
                            <li><a href="#">Колонный зал</a></li>
                            <li><a href="#">Арт-кафе</a></li>
                            <li><a href="#">Голубая гостинная</a></li>
                            <li><a href="#">Другие помещения</a></li>
                        </ul>
                    </div>
                    <div class="footmenu-col">
                        <a href="#" class="footmenu-dir">Студии</a>
                        <ul class="footmenu-list">
                            <li><a href="#">Для взрослых</a></li>
                            <li><a href="#">Для детей</a></li>
                        </ul>
                    </div>
                    <div class="footmenu-col">
                        <a href="#" class="footmenu-dir">Студии</a>
                        <ul class="footmenu-list">
                            <li><a href="#">Для взрослых</a></li>
                            <li><a href="#">Для детей</a></li>
                        </ul>
                    </div>
                    <div class="footmenu-col">
                        <a href="#" class="footmenu-dir">Студии</a>
                        <ul class="footmenu-list">
                            <li><a href="#">Для взрослых</a></li>
                            <li><a href="#">Для детей</a></li>
                        </ul>
                    </div>
                    <div class="footmenu-col">
                        <a href="#" class="footmenu-dir">Студии</a>
                        <ul class="footmenu-list">
                            <li><a href="#">Для взрослых</a></li>
                            <li><a href="#">Для детей</a></li>
                        </ul>
                    </div>
                    <div class="footmenu-col">
                        <a href="#" class="footmenu-dir">Студии</a>
                        <ul class="footmenu-list">
                            <li><a href="#">Для взрослых</a></li>
                            <li><a href="#">Для детей</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-aside">
                <div class="footer-aside-in">
                    <div class="footer-aside-col b-subscribe">
                        <p>Подпишитесь на рассылку. Только самые интересные события и никакого спама.</p>
                        <form action="" class="b-subscribe-form">
                            <input type="email" name="" id="" placeholder="Ваш e-mail">
                            <div class="b-form-submit js-visible">
                                <input type="submit" value="">
                            </div>
                        </form>
                    </div>
                    <div class="footer-aside-col">
                        <p>Следите за нами в социальных сетях</p>
                    </div>
                    <div class="footer-aside-col">
                        <p>Федерация профсоюзов Беларуси</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="l-copy">
    <div class="copy-wrap">
        <div class="copy-row">
            <div class="copy-col">© 2018 «Республиканский Дворец Культуры Профсоюзов»</div>
            <div class="copy-col">8 (017) 327-01-79 / <a href="mailto:rdkp211@tut.by">rdkp211@tut.by</a></div>
            <div class="copy-col">developer</div>
        </div>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" style="display:none;">
    <symbol id="ico-left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 9 15" width="9px" height="15px">
        <path fill-rule="evenodd" d="M8.464,1.883 L2.776,7.497 L8.538,13.184 L8.538,13.184 C8.726,13.377 8.842,13.639 8.842,13.928 C8.842,14.520 8.356,14.999 7.757,14.999 C7.464,14.999 7.198,14.885 7.003,14.699 L7.003,14.699 L0.489,8.270 L0.490,8.270 C0.285,8.076 0.158,7.802 0.158,7.499 C0.158,7.498 0.158,7.498 0.158,7.497 C0.158,7.496 0.158,7.495 0.158,7.495 C0.158,7.191 0.285,6.918 0.490,6.723 L0.489,6.723 L7.003,0.294 L7.006,0.297 C7.201,0.113 7.465,-0.001 7.757,-0.001 C8.356,-0.001 8.842,0.478 8.842,1.070 C8.842,1.396 8.695,1.687 8.464,1.883 Z"></path>
    </symbol>
    <symbol  id="ico-right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 9 15" width="9px" height="15px">
        <path fill-rule="evenodd" d="M0.536,1.883 L6.224,7.497 L0.462,13.184 L0.462,13.184 C0.274,13.377 0.158,13.639 0.158,13.928 C0.158,14.520 0.644,14.999 1.243,14.999 C1.536,14.999 1.801,14.885 1.997,14.699 L1.997,14.699 L8.510,8.270 L8.510,8.270 C8.715,8.076 8.842,7.802 8.842,7.499 C8.842,7.498 8.842,7.498 8.842,7.497 C8.842,7.496 8.842,7.495 8.842,7.495 C8.842,7.191 8.715,6.918 8.510,6.723 L8.510,6.723 L1.997,0.294 L1.994,0.297 C1.799,0.113 1.535,-0.001 1.243,-0.001 C0.644,-0.001 0.158,0.478 0.158,1.070 C0.158,1.396 0.305,1.687 0.536,1.883 Z"></path>
    </symbol>
</svg>
