<div class="l-footer @@footerClass">
    <div class="footer-wrap">
        <div class="footer-row">
            <div class="footer-main">
                <div class="footmenu">
                    <div class="footmenu-col">
                        <a href="#" class="footmenu-dir">Залы</a>
                        <ul class="footmenu-list">
                            <li><a href="#">Театральный зал</a></li>
                            <li><a href="#">Гобеленовый зал</a></li>
                            <li><a href="#">Колонный зал</a></li>
                            <li><a href="#">Арт-кафе</a></li>
                            <li><a href="#">Голубая гостинная</a></li>
                            <li><a href="#">Другие помещения</a></li>
                        </ul>
                    </div>
                    <div class="footmenu-col">
                        <a href="#" class="footmenu-dir">Студии</a>
                        <ul class="footmenu-list">
                            <li><a href="#">Для взрослых</a></li>
                            <li><a href="#">Для детей</a></li>
                        </ul>
                    </div>
                    <div class="footmenu-col">
                        <a href="#" class="footmenu-dir">Студии</a>
                        <ul class="footmenu-list">
                            <li><a href="#">Для взрослых</a></li>
                            <li><a href="#">Для детей</a></li>
                        </ul>
                    </div>
                    <div class="footmenu-col">
                        <a href="#" class="footmenu-dir">Студии</a>
                        <ul class="footmenu-list">
                            <li><a href="#">Для взрослых</a></li>
                            <li><a href="#">Для детей</a></li>
                        </ul>
                    </div>
                    <div class="footmenu-col">
                        <a href="#" class="footmenu-dir">Студии</a>
                        <ul class="footmenu-list">
                            <li><a href="#">Для взрослых</a></li>
                            <li><a href="#">Для детей</a></li>
                        </ul>
                    </div>
                    <div class="footmenu-col">
                        <a href="#" class="footmenu-dir">Студии</a>
                        <ul class="footmenu-list">
                            <li><a href="#">Для взрослых</a></li>
                            <li><a href="#">Для детей</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-aside">
                <div class="footer-aside-in">
                    <div class="footer-aside-col b-subscribe">
                        <p>Подпишитесь на рассылку. Только самые интересные события и никакого спама.</p>
                        <form action="" class="b-subscribe-form">
                            <input type="email" name="" id="">
                            <div class="b-form-submit js-visible">
                                <input type="submit" value="">
                            </div>
                        </form>
                    </div>
                    <div class="footer-aside-col">
                        <p>Следите за нами в социальных сетях</p>
                    </div>
                    <div class="footer-aside-col">
                        <p>Федерация профсоюзов Беларуси</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="l-copy">
    <div class="copy-wrap">
        <div class="copy-row">
            <div class="copy-col">© 2018 «Республиканский Дворец Культуры Профсоюзов»</div>
            <div class="copy-col">8 (017) 327-01-79 / <a href="mailto:rdkp211@tut.by">rdkp211@tut.by</a></div>
            <div class="copy-col">developer</div>
        </div>
    </div>
</div>