<li>
    <a href="#">Залы</a>
    <ul>
        <li><a href="#">Театральный зал</a></li>
        <li><a href="#">Театральный зал</a></li>
        <li><a href="#">Театральный зал</a></li>
        <li><a href="#">Театральный зал</a></li>
        <li><a href="#">Театральный зал</a></li>
        <li><a href="#">Театральный зал</a></li>
    </ul>
</li>
<li><a href="#">Студии</a></li>
<li><a href="#">Коллективы</a></li>
<li><a href="#">Ёлки</a></li>
<li>
    <a href="#">О дворце</a>
    <ul>
        <li><a href="#">Театральный зал</a></li>
        <li><a href="#">Театральный зал</a></li>
        <li><a href="#">Театральный зал</a></li>
        <li><a href="#">Театральный зал</a></li>
        <li><a href="#">Театральный зал</a></li>
        <li><a href="#">Театральный зал</a></li>
    </ul>
</li>
<li class="is-active"><a href="#">Музей</a></li>
<li><a href="#">Афиша</a></li>
<li><a href="#">Филиалы</a></li>
<li><a href="#">Новости</a></li>
<li><a href="#">Контакты</a></li>