<li>
    <a href="#">Залы</a>
    <ul>
        <li><a href="#">Театральный зал</a></li>
        <li><a href="#">Гобеленовый зал</a></li>
        <li><a href="#">Колонный зал</a></li>
        <li><a href="#">Арт-кафе</a></li>
        <li><a href="#">Голубая гостиная</a></li>
        <li><a href="#">Другие помещения</a></li>
    </ul>
</li>
<li><a href="#">Студии</a></li>
<li><a href="./bands.html">Коллективы</a></li>
<li><a href="#">Ёлки</a></li>
<li>
    <a href="./about.html">О дворце</a>
    <ul>
        <li><a href="./gallery.html">Фото</a></li>
        <li><a href="#">Видео</a></li>
        <li><a href="#">Логотипы</a></li>
    </ul>
</li>
<li class="is-active"><a href="#">Музей</a></li>
<li><a href="./event.html">Афиша</a></li>
<li><a href="#">Филиалы</a></li>
<li><a href="#">Новости</a></li>
<li><a href="./contact.html">Контакты</a></li>