<div class="header-topline">
    <div class="header-topline-row">
        <div class="header-topline-col">
            <div class="h-socials">
                <a href="#" target="_blank"><svg viewBox="0 0 11 21"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-fb"></use></svg></a>
                <a href="#" target="_blank"><svg viewBox="0 0 24 14"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-vk"></use></svg></a>
                <a href="#" target="_blank"><svg viewBox="0 0 56 56"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-yt"></use></svg></a>
                <a href="#" target="_blank"><svg viewBox="0 0 128 128"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-ig"></use></svg></a>
            </div>
        </div>
        <div class="header-topline-col"><a href="tel:+375173270179" class="h-phone"><img src="./i/icons/ico-phone.png" alt=""> <span>327-01-79</span></a></div>
    </div>
</div>