<button class="menu-button js-menu-toggle show-640">
    <div class="ico-menu">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
</button>

<div class="header-mobile show-640">
    <!-- <a href="./index.html" class="topline-logo">
        <img src="./i/logo.png" alt="">
    </a> -->
    <a href="./index.html" class="header-mobile-title">
        <img src="./i/logo.png" alt="">
        <span>Республиканский дворец<br>культуры профсоюзов</span>
    </a>
</div>