<div class="promo-slider-nav-bounds">
    <div class="promo-slider-nav-wrap">
        <div class="promo-slider-nav js-promo-slider-nav swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-lazy-preloader"></div>
                    <img data-src="./userimg/thumb-01.jpg" class="swiper-lazy" alt="">
                </div>
                <div class="swiper-slide">
                    <div class="swiper-lazy-preloader"></div>
                    <img data-src="./userimg/thumb-02.jpg" class="swiper-lazy" alt="">
                </div>
                <div class="swiper-slide">
                    <div class="swiper-lazy-preloader"></div>
                    <img data-src="./userimg/thumb-03.jpg" class="swiper-lazy" alt="">
                </div>
                <div class="swiper-slide">
                    <div class="swiper-lazy-preloader"></div>
                    <img data-src="./userimg/thumb-04.jpg" class="swiper-lazy" alt="">
                </div>
                <div class="swiper-slide">
                    <div class="swiper-lazy-preloader"></div>
                    <img data-src="./userimg/thumb-05.jpg" class="swiper-lazy" alt="">
                </div>
                <div class="swiper-slide">
                    <div class="swiper-lazy-preloader"></div>
                    <img data-src="./userimg/thumb-06.jpg" class="swiper-lazy" alt="">
                </div>
            </div>
            <div class="promo-button-prev"></div>
            <div class="promo-button-next"></div>
        </div>
    </div>
</div>