<div class="l-header js-header @@headerClass">
    <div class="header-bg js-header-bg"></div>
    <div class="header-img-wrap">
        <div class="header-img-in js-header-img @@headerImgClass">
            <img src="./userimg/bg-title-1.jpg" class="header-img" alt="">
            <div class="header-gradient js-header-gradient"></div>
        </div>
    </div>
    <div class="header-in">
        <div class="header-info">
            <div class="header-info-row">
                <div class="header-info-col">socials</div>
                <div class="header-info-col"><a href="tel:+375173270179" class="h-phone">svg <span>327-01-79</span></a></div>
            </div>
        </div>
        <div class="header-main">
            <div class="header-aside">
                <a href="#" class="header-logo">
                    <img src="./i/logo.png" alt="">
                    Республиканский дворец культуры профсоюзов
                </a>
            </div>

            <div class="header-menu">
                <ul class="header-menu-row">
                    @@include('header-menu.html')
                </ul>
            </div>
            <div class="header-aside"></div>
        </div>
        <div class="header-title-wrap">
            <div class="header-title js-header-title">@@pageTitle</div>
        </div>
    </div>
</div>