<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" id="viewport" content="width=device-width">

    <title>RDKP</title>
    <meta name="description" content="*" />
    <meta name="keywords" content="*" />

    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&amp;subset=cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="css/common.css" />
</head>