@@include('header-mobile.html')
<div class="l-header js-header index-page-header">
    <div class="header-bg js-header-bg"></div>
    <div class="header-pattern-wrap">
        <div class="header-pattern-wave js-header-pattern-wave"></div>
    </div>
    <div class="header-img-wrap">
        <div class="header-img-in js-header-img index-page-header-img">
            <img src="@@image" class="header-img" alt="">
            <div class="header-gradient js-header-gradient"></div>
        </div>
    </div>
    <div class="header-in">
        @@include('header-topline.html')
        <div class="header-main">
            <div class="header-aside">
                <div class="header-logo">
                    <img src="./i/logo.png" alt="">
                    Республиканский дворец культуры профсоюзов
                </div>
            </div>

            <div class="header-menu">
                <ul class="header-menu-row">
                    @@include('header-menu.html')
                </ul>
            </div>
            <div class="header-aside"></div>
        </div>
    </div>
    <div class="header-slider">
        <div class="header-slider-aside js-header-slider-aside">
            <div class="header-info">
                <span class="num-big">5</span>
                <h5>Больших залов</h5>
            </div>
            <div class="header-info">
                <span class="num-big">7800</span>
                <h5>Всего посадочных мест</h5>
            </div>
            <div class="header-info">
                <span class="num-big">377</span>
                <h5>Всего выступлений за&nbsp;2017 год</h5>
            </div>
        </div>
        <div class="header-slider-main">
            @@include('header-slider.html')
        </div>
    </div>
</div>
@@include('header-slider-nav.html')