<button class="menu-button js-menu-toggle show-640">
    <div class="ico-menu">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
</button>

<a href="./index.html" class="topline-logo show-640">
    <img src="./i/logo.png" alt="">
</a>

<div class="l-header js-header">
    <div class="header-bg js-header-bg"></div>
    <div class="header-img-wrap">
        <div class="header-img-in js-header-img">
            <img src="@@image" class="header-img" alt="">
            <div class="header-gradient js-header-gradient"></div>
        </div>
    </div>
    <div class="header-in">
        @@include('header-topline.html')
        <div class="header-main">
            <div class="header-aside">
                <a href="/" class="header-logo">
                    <img src="./i/logo.png" alt="">
                    Республиканский дворец культуры профсоюзов
                </a>
            </div>

            <div class="header-menu">
                <ul class="header-menu-row">
                    @@include('header-menu.html')
                </ul>
            </div>
            <div class="header-aside"></div>
        </div>
        <div class="header-title-wrap">
            <div class="header-title js-header-title">@@pageTitle</div>
        </div>
    </div>
</div>