<div class="promo-slider js-promo-slider swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="promo-slide-image"><img data-src="./userimg/afisha-01.jpg" alt="" class="swiper-lazy"></div>
            <div class="swiper-lazy-preloader"></div>
            <div class="promo-slide-details">
                <div class="promo-slide-title" data-swiper-parallax="-800">Відовішча-вандроўка «7 таямніц Беларусі»</div>
                <div class="promo-slide-link" data-swiper-parallax="-400"><a href="#" class="button">Подробнее</a></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="promo-slide-image"><img data-src="./userimg/afisha-02.jpg" alt="" class="swiper-lazy"></div>
            <div class="swiper-lazy-preloader"></div>
            <div class="promo-slide-details">
                <div class="promo-slide-title" data-swiper-parallax="-800">Відовішча-вандроўка «7 таямніц Беларусі»</div>
                <div class="promo-slide-link" data-swiper-parallax="-400"><a href="#" class="button">Подробнее</a></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="promo-slide-image"><img data-src="./userimg/afisha-03.jpg" alt="" class="swiper-lazy"></div>
            <div class="swiper-lazy-preloader"></div>
            <div class="promo-slide-details">
                <div class="promo-slide-title" data-swiper-parallax="-800">Відовішча-вандроўка «7 таямніц Беларусі»</div>
                <div class="promo-slide-link" data-swiper-parallax="-400"><a href="#" class="button">Подробнее</a></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="promo-slide-image"><img data-src="./userimg/afisha-04.jpg" alt="" class="swiper-lazy"></div>
            <div class="swiper-lazy-preloader"></div>
            <div class="promo-slide-details">
                <div class="promo-slide-title" data-swiper-parallax="-800">Відовішча-вандроўка «7 таямніц Беларусі»</div>
                <div class="promo-slide-link" data-swiper-parallax="-400"><a href="#" class="button">Подробнее</a></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="promo-slide-image"><img data-src="./userimg/afisha-05.jpg" alt="" class="swiper-lazy"></div>
            <div class="swiper-lazy-preloader"></div>
            <div class="promo-slide-details">
                <div class="promo-slide-title" data-swiper-parallax="-800">Відовішча-вандроўка «7 таямніц Беларусі»</div>
                <div class="promo-slide-link" data-swiper-parallax="-400"><a href="#" class="button">Подробнее</a></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="promo-slide-image"><img data-src="./userimg/slide-01.jpg" alt="" class="swiper-lazy"></div>
            <div class="swiper-lazy-preloader"></div>
            <div class="promo-slide-details">
                <div class="promo-slide-title" data-swiper-parallax="-800">Відовішча-вандроўка «7 таямніц Беларусі»</div>
                <div class="promo-slide-link" data-swiper-parallax="-400"><a href="#" class="button">Подробнее</a></div>
            </div>
        </div>
    </div>
</div>