<div class="image-slider js-image-slider swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img data-src="https://picsum.photos/1200/900" class="swiper-lazy" alt="">
        </div>
        <div class="swiper-slide">
            <img data-src="https://picsum.photos/1100/800" class="swiper-lazy" alt="">
        </div>
        <div class="swiper-slide">
            <img data-src="https://picsum.photos/850/1200" class="swiper-lazy" alt="">
        </div>
        <div class="swiper-slide">
            <img data-src="https://picsum.photos/1250/920" class="swiper-lazy" alt="">
        </div>
        <div class="swiper-slide">
            <img data-src="https://picsum.photos/1200/910" class="swiper-lazy" alt="">
        </div>
        <div class="swiper-slide">
            <img data-src="https://picsum.photos/1200/870" class="swiper-lazy" alt="">
        </div>
    </div>
    <div class="image-button-prev">
        <svg viewBox="0 0 9 15"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-left"></use></svg>
    </div>
    <div class="image-button-next">
        <svg viewBox="0 0 9 15"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-right"></use></svg>
    </div>
</div>