<div class="news-slider-wrap bg--black js-index-news">
    <div class="b-contact-bg"><img src="./userimg/bg-title-4.jpg" alt=""></div>
    <div class="b-contact-gradient"></div>
    <div class="wrap">
        <div class="b-title">Новости</div>
        <div class="news-slider js-news-slider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="news-item">
                        <a href="#" class="news-item-title">На проспекте Независимости начали высаживать взрослые деревья. Их будет больше сотни</a>
                        <span class="news-item-date">28 мая 2018</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="news-item">
                        <a href="#" class="news-item-title">На проспекте Независимости начали высаживать взрослые деревья. Их будет больше сотни</a>
                        <span class="news-item-date">28 мая 2018</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="news-item">
                        <a href="#" class="news-item-title">На проспекте Независимости начали высаживать взрослые деревья. Их будет больше сотни</a>
                        <span class="news-item-date">28 мая 2018</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="news-item">
                        <a href="#" class="news-item-title">На проспекте Независимости начали высаживать взрослые деревья. Их будет больше сотни</a>
                        <span class="news-item-date">28 мая 2018</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="news-item">
                        <a href="#" class="news-item-title">На проспекте Независимости начали высаживать взрослые деревья. Их будет больше сотни</a>
                        <span class="news-item-date">28 мая 2018</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="news-item">
                        <a href="#" class="news-item-title">На проспекте Независимости начали высаживать взрослые деревья. Их будет больше сотни</a>
                        <span class="news-item-date">28 мая 2018</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="news-item">
                        <a href="#" class="news-item-title">На проспекте Независимости начали высаживать взрослые деревья. Их будет больше сотни</a>
                        <span class="news-item-date">28 мая 2018</span>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination"></div>

            <div class="news-button-prev">
                <svg viewBox="0 0 9 15"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-left"></use></svg>
            </div>
            <div class="news-button-next">
                <svg viewBox="0 0 9 15"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-right"></use></svg>
            </div>
        </div>
        <div class="news-slider-footer">
            <a href="#" class="button">Все новости</a>
        </div>
    </div>
</div>