<div class="old-browsers" id="old-browsers" style="display: none;">
    <style> .old-browsers {position: fixed; background: #fff; width: 100%; height: 100vh; color: black; font-family: sans-serif; font-size: 20px; text-align: center; padding: 50px; margin: 0; top: 0; left: 0; z-index: 100; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: "Roboto Condensed", sans-serif; } .old-browsers h2 {padding: 20px 0 20px 0; font-family: "Old", sans-serif; } .old-browsers p, .old-browsers ul {margin: 0 auto; } .old-browsers p {max-width: 700px; padding-bottom: 50px; line-height: 1.4em; } .old-browsers ul li {display: inline-block; padding: 0 25px; } .old-browsers ul li img {width: 115px; border: 0; } .old-browsers ul li p {padding-top: 15px; color: #249AE1; }
    </style>
    <h2>Ваш браузер устарел</h2>
    <p>Кажется, вы используете устаревший браузер, который больше не поддерживается производителем. Это может быть небезопасно. Пожалуйста, выберите один из современных браузеров представленных ниже. Спасибо!</p>
    <ul>
        <li> <a href="https://www.google.com/intl/en/chrome/browser/desktop/index.html#brand=CHMB&utm_campaign=en&utm_source=en-ha-na-us-sk&utm_medium=ha" target="_blank"> <img src="./i/icons/ico-chrome.png" alt="Google Chrome"> <p>Google Chrome</p> </a> </li>
        <li> <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank"> <img src="./i/icons/ico-firefox.png" alt="Mozilla Firefox"> <p>Mozilla Firefox</p> </a> </li>
        <li> <a href="https://support.apple.com/downloads/safari" target="_blank"> <img src="./i/icons/ico-safari.png" alt="Safari"> <p>Safari</p> </a> </li>
        <li> <a href="https://www.microsoft.com/en-us/windows/microsoft-edge" target="_blank"> <img src="./i/icons/ico-edge.png" alt="Internet Explorer"> <p>Microsoft Edge</p> </a> </li>
    </ul>
</div>