<div id="page-preloader" class="page-preloader" style="display: none;">
    <style>
        .page-preloader {
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: #68553b;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALQAAACcAQMAAADs/BMqAAAABlBMVEUAAAC/pXt/wuD6AAAAAnRSTlMAQABPjKgAAACeSURBVEiJ7dCxbcMwEADAI00ILByApYE0HEFVao6iATIEAS/kEZQtMk4aSd4g1ZfXnklGRcdBNj4mX/jldnD1YN34mW4L94O7wmiSoSTaSZlZZV019ZOSpCiaZhgnmVlWVV03TzKKpCmGli7SK7PLppov8ljZdunJcr/IsvOJb9LrTQkFDePN+Imf+Imf+Imf+Imf+Imf+Imf+PmXnz8zECki5EbLIQAAAABJRU5ErkJggg==);
            z-index: 99;
        }

        #loader-spinner {
            display: block;
            position: relative;
            left: 50%;
            top: 50%;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #bfa57b;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }
        #loader-spinner:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #fffbf2;
            -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
        }
        #loader-spinner:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #fff7e5;
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
        }
        @-webkit-keyframes spin {
            0%   {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes spin {
            0%   {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    </style>
    <script>
        document.getElementById('page-preloader').style.display = '';
        document.body.style.opacity = '1';
        document.body.style.overflow = 'hidden';
    </script>
    <div id="loader-spinner"></div>
</div>