<script src="./js/lib/jquery-3.3.1.min.js"></script>
<script src="./js/lib/jquery.scrollTo.min.js"></script>
<script src="./js/lib/jquery.debouncedresize.js"></script>
<script src="./js/lib/fastclick.js"></script>
<script src="./js/lib/TweenMax.min.js"></script>
<script src="./js/lib/jquery.appear.js"></script>
<script src="./js/lib/imagesloaded.pkgd.min.js"></script>
<script src="./js/lib/stickybits.min.js"></script>

<!-- swiper -->
<script src="./js/lib/swiper/js/swiper.min.js"></script>
<link rel="stylesheet" href="./js/lib/swiper/css/swiper.min.css" />

<!-- lazyload -->
<script src="./js/lib/intersection-observer.js"></script>
<script src="./js/lib/lozad.js"></script>

<script type="text/javascript" src="./js/common.js"></script>

<script async defer src="//maps.googleapis.com/maps/api/js?callback=mapsInit"></script>